body{
    background-color: #164B60;
}
.creators-block {
        background-color: #D1E7DD;
        padding: 20px;
        border-radius: 10px;
        width: 30%;
        margin: auto;
        margin-top: 10%;
        text-align: center;
    }

    h1 {
        color: #07689F;
    }

    p {
        color: #07689F;
    }

    button .newbut {
        background-color: #5DA9E9;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 15px;
        margin-top: 20px;
        cursor: pointer;
    }

    button:hover {
        background-color: #CEDEBD;
    }