{% include 'header.html' %}
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/playlist.css">
<title>Document</title>
<script src="https://kit.fontawesome.com/ac4ddf352c.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: #C6F1D6;">
    {% include 'nav.html' %}
    {% include 'modal.html' %}
    <div style="text-align: center; margin-top: 3%; margin-bottom: 3%;">
        <h3>{{ data['album'].name }}</h3>
    </div>
    <form action="/album/{{ data['album'].a_id }}" method="post">
        {% for i in data['songs'] %}
            {% set myvar=loop.index %}
            {% include "albumsongs.html" %}
        {% endfor %}
    </form>

    {% if data['Owner'] == True and data['remainingsongs'] | length > 0%}
        <form action="/album/{{ data['album'].a_id }}" method="post" style="border: black solid 2px; border-radius: 10px; margin-top: 3%; margin-left: 38%; padding: 3%; display: inline-block; background-color: #F2EEE5;">
            <div class="container">
                <form action="/submit" method="post">
                    <label for="name"><b>Add additional Songs to the Album</b></label><br>
                    <br>
                    {% for i in data['remainingsongs'] %}
                        <input type="checkbox" id="checkbox{{ i }}" name="checkbox" value="{{ i.s_id }}">
                        <label for="checkbox{{ i }}">{{ i.name | replace(".mp3", "")}}</label><br>
                    {% endfor %}
                    <br>
                    <button type="submit" value="submit" name="submit">Submit</button>
                </form>
            </div>
        </form>
    {% endif %}

    {% if data['Owner'] == True %}
    <div style="margin-top: 5%; margin-left: 45%">
        <form action="/album/{{ data['album'].a_id }}" method="post">
            <button type="submit" name="delete" style="border: black solid 2px; border-radius: 10px; background: none; background-color: gray; padding: 10px;"><b>Delete The Album</b></button>
        </form>
    </div>
    {% endif %}

    {% include "footer.html" %}